[submodule "Vendor/Alamofire"]
	path = Vendor/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Vendor/Quick"]
	path = Vendor/Quick
	url = https://github.com/Quick/Quick.git
[submodule "Vendor/Nimble"]
	path = Vendor/Nimble
	url = https://github.com/Quick/Nimble.git
